In [2]:
# with paranthesis
700 / (900 + 1_200 + 700) * 100

25.0

In [21]:
# assign value to variable 
alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [22]:
## can also assign like this:
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [23]:
## Call variables
alfred_m
fatima_monthly_23
# trina_m

1200

In [24]:
# calculate trina's share using bariables
trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100

25.0

In [27]:
## place result into in variable
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23) * trina_monthly_23

In [31]:
## easier to read
trina_share_23 = \
trina_monthly_23 / (alfred_monthly_23 +\
                   fatima_monthly_23 +\
                   trina_monthly_23) * 100

In [ ]:
## call it
trina_share_23, alfred_monthly_23, fatima_monthly_23